# Entorno virtual
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Archivos temporales de Windows
~$*
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.user

# Logs y datos de prueba
*.log
*.csv

# Archivos SolidWorks temporales
*.sldprt.swp
*.sldasm.swp